@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Coda:wght@400;800&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    cursor: pointer;
}

.font2 {

    font-family: "Playwrite HR Lijeva", cursive !important;
    font-optical-sizing: auto;
}

.font3 {
    font-family: "Coda", system-ui !important;
    font-style: normal;
}

.font4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;

}

li,
a,
button,
p,
input {
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(5, 71, 71);
}

.board {
    width: 43vw;
    padding: 15px;
    flex-wrap: wrap;
    background-color: rgb(14, 150, 150);
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
}

.numbtn {
    width: 40vw;
    height: 7vh;
    gap: 5px;
}

.numbtn button {
    font-size: 24px;
    font-weight: 800;
    width: 20%;
    padding: 5px;
    height: 100%;
    border: none;
    border-radius: 20%;
    background-color: rgb(7, 177, 177);
}

.numbtn button:hover {
    transition: .3s;
    font-size: 26px;
    color: white;
    background-color: rgba(241, 8, 8, 0.637);
}

.box {
    width: 33%;
    height: 23vh;
    flex-wrap: wrap;
    border: 2px solid rgb(88, 5, 5);
}

.box input {
    width: 33.3%;
    height: 33.3%;
    outline: none;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    /* background-color: rgb(234, 241, 241); */
    border: 2px solid rgba(73, 10, 10, 0.377);
}

.result{
    position: absolute;
    width: 55%;
    height: 20vh;
    flex-wrap: wrap;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.521);
    background-color: rgb(9, 90, 90);
    gap: 20px;
}
.result p{
    font-size: 45px;
    font-weight: 600;
    color: rgb(46, 240, 240);
}
.btn1{
    width: 60%;
    height: 25%;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    color: white;
    background-color: rgb(8, 61, 61);
    border: none;
    border-radius: 20%;
    transition: .3s;
} 

/* .start{
   
   
} */
.endbtn{
    width: 70%;
    padding: 10px;
    display: none;
}
.solve{
    margin-left: 20px;
    width: 20%;
    height: 30%;
    border: 3px  solid rgb(13, 247, 247);
    background-color:rgb(7, 112, 112);

    animation: 4s glow linear infinite;
}
@keyframes glow {
    0%{
        border: 3px  solid rgb(223, 228, 228);
    }
    25%{
        border: 4px  solid rgb(5, 71, 71);
    }
    50%{
        border: 5px  solid rgb(13, 192, 247);
    }
    75%{
        border: 6px  solid rgb(143, 219, 219);
    }
    100%{
        border: 7px  solid rgb(44, 100, 153);
    }
}
.btn1:hover{
    background-color:rgb(210, 235, 235);
    color: rgb(12, 128, 128);
}
.back{
    transition: .3s;
    font-size: 45px;
    font-weight: 800;
    color: rgb(46, 240, 240);  
}
.bac{
    display: none;
}
.bac:hover{
    transform: translate(-50px);
}
.alert{
    font-size: 20px;
    font-weight: 600;
    color: rgb(236, 12, 12);  
    margin-top: 10px;
    display: none;
}